.list16
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ff6600;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
.list15
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
.list14
{
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
.list13
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    TEXT-DECORATION: none
}
.list12
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #00a651;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
.list11
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #8dc63f;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
.list10
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #f26522;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
.list09
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #4b4b4b;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -1px;
    TEXT-DECORATION: none
}
.list08
{
    FONT-SIZE: 10pt;
    COLOR: #4b4b4b;
    LINE-HEIGHT: 16pt;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -1px
}
.list07
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #016fb6;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
.list06
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #87cf67;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    TEXT-DECORATION: none
}
.list05
{
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    TEXT-DECORATION: none
}
.list04
{
    PADDING-RIGHT: 20px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
.list03
{
    FONT-SIZE: 10pt;
    COLOR: #016fb6;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    TEXT-DECORATION: none
}
.list02
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #016fb6;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    TEXT-DECORATION: none
}
.list01
{
    PADDING-RIGHT: 20px;
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
.list15_1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list06_1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #87cf67;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list02_1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #016fb6;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    TEXT-DECORATION: none
}
.list03_1
{
    FONT-SIZE: 10pt;
    COLOR: #016fb6;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list10_1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #f26522;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list11_1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #8dc63f;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list12_1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #00a651;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list13_1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    TEXT-ALIGN: right;
    TEXT-DECORATION: none
}
.list13_2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
.list13_3
{
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    TEXT-ALIGN: right;
    TEXT-DECORATION: none
}
.list14_1
{
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list17_1
{
    FONT-WEIGHT: bold;
	FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list01_bg
{
    PADDING-RIGHT: 20px;
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    BACKGROUND-COLOR: #e2f3fe;
    TEXT-ALIGN: right;
    TEXT-DECORATION: none
}
.list01_bg2
{
    PADDING-RIGHT: 20px;
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    BACKGROUND-COLOR: #f5f5f5;
    TEXT-ALIGN: right;
    TEXT-DECORATION: none
}
.list01_bg3
{
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    BACKGROUND-COLOR: #f5f5f5;
    TEXT-DECORATION: none
}
.list02_bg
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #016fb6;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    BACKGROUND-COLOR: #b0dffd;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list02_bg2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #016fb6;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    BACKGROUND-COLOR: #e2f3fe;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list02_bg3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #016fb6;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    BACKGROUND-COLOR: #f5f5f5;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list02_bg4
{
    PADDING-LEFT: 15px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #016fb6;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    BACKGROUND-COLOR: #b0dffd;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
.list02_bg5
{
    PADDING-LEFT: 15px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    VERTICAL-ALIGN: top;
    COLOR: #016fb6;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    BACKGROUND-COLOR: #f4f4f4;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
.list02_bg6
{
    PADDING-LEFT: 10px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    VERTICAL-ALIGN: top;
    COLOR: #016fb6;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
.list02_bg2_s
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #016fb6;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    BACKGROUND-COLOR: #e2f3fe;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list02_bg3_s
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #016fb6;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    BACKGROUND-COLOR: #f5f5f5;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list03_bg
{
    FONT-SIZE: 10pt;
    COLOR: #016fb6;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    BACKGROUND-COLOR: #e2f3fe;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list03_bg_s
{
    FONT-SIZE: 9pt;
    COLOR: #016fb6;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    BACKGROUND-COLOR: #e2f3fe;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list03_bg2
{
    FONT-SIZE: 10pt;
    COLOR: #016fb6;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    BACKGROUND-COLOR: #f5f5f5;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list04_bg
{
    PADDING-RIGHT: 20px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    BACKGROUND-COLOR: #e2f3fe;
    TEXT-ALIGN: right;
    TEXT-DECORATION: none
}
.list04_bg2
{
    PADDING-RIGHT: 20px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    BACKGROUND-COLOR: #f5f5f5;
    TEXT-ALIGN: right;
    TEXT-DECORATION: none
}
.list05_bg
{
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    BACKGROUND-COLOR: #e2f3fe;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list05_bg2
{
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    BACKGROUND-COLOR: #f5f5f5;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list06_bg
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #87cf67;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list07_bg
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #016fb6;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    BACKGROUND-COLOR: #e2f3fe;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list07_bg2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #016fb6;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    BACKGROUND-COLOR: #f5f5f5;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list07_bg_s
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #016fb6;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    BACKGROUND-COLOR: #e2f3fe;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list07_bg2_s
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #016fb6;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    BACKGROUND-COLOR: #f5f5f5;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list07_bg3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #016fb6;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    BACKGROUND-COLOR: #b0dffd;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list07_bg4
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #016fb6;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    BACKGROUND-COLOR: #b0dffd;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list07_bg5
{
    PADDING-LEFT: 15px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #016fb6;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    BACKGROUND-COLOR: #b0dffd;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
.list10_bg {  font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 10pt; color: #F26522; letter-spacing: 0; text-decoration: none; font-weight:bold; text-align: center; background-color: #f5f5f5}
.list11_bg
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #8dc63f;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    BACKGROUND-COLOR: #f5f5f5;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list13_bg
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    BACKGROUND-COLOR: #e2f3fe;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list13_bg2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    BACKGROUND-COLOR: #f5f5f5;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list14_bg
{
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    BACKGROUND-COLOR: #e2f3fe;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list14_bg2
{
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    BACKGROUND-COLOR: #f5f5f5;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list14_bg3
{
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    BACKGROUND-COLOR: #eeffe6;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list15_bg
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    BACKGROUND-COLOR: #f5f5f5;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list15_bg2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list15_bg3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    BACKGROUND-COLOR: #e2f3fe;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list17_bg
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    BACKGROUND-COLOR: #e6e6e6;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list18_bg
{
    FONT-SIZE: 10pt;
    COLOR: #016fb6;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    BACKGROUND-COLOR: #e2f3fe;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list18_bg2
{
    FONT-SIZE: 10pt;
    COLOR: #016fb6;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    BACKGROUND-COLOR: #f5f5f5;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.title_01
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #4b4b4b;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    TEXT-DECORATION: none
}
.title_01_0
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #4b4b4b;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
.title_01_c
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #4b4b4b;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.title_01_r
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #4b4b4b;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    TEXT-ALIGN: right;
    TEXT-DECORATION: none
}
.title_01_b
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    VERTICAL-ALIGN: bottom;
    COLOR: #4b4b4b;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -2px;
    TEXT-DECORATION: none
}
.title_02
{
    FONT-SIZE: 10pt;
    COLOR: #4b4b4b;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: -1px;
    TEXT-DECORATION: none
}
.point01
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.map01 {  font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt; color: #000000; letter-spacing: 0; text-decoration: none; text-align: center; background-color: #e6e6e6}
.repo05
{
    FONT-SIZE: 9pt;
    COLOR: #016fb6;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
.repo04
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #4b4b4b;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
.repo03
{
    FONT-SIZE: 9pt;
    COLOR: #4b4b4b;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
.repo02
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
.repo01
{
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
.textbox02
{
    FONT-SIZE: 9pt;
    BORDER-TOP-STYLE: none;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    BACKGROUND-COLOR: #e2f3fe;
    TEXT-ALIGN: right;
    BORDER-BOTTOM-STYLE: none
}
.textbox01
{
    FONT-SIZE: 9pt;
    BORDER-TOP-STYLE: none;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    BACKGROUND-COLOR: #f5f5f5;
    TEXT-ALIGN: right;
    BORDER-BOTTOM-STYLE: none
}
.table01
{
    BACKGROUND-COLOR: #f5f5f5;
    TEXT-ALIGN: left
}
.table02
{
    VERTICAL-ALIGN: middle;
    BACKGROUND-COLOR: #f5f5f5
}
.table03
{
    VERTICAL-ALIGN: middle;
    TEXT-ALIGN: center
}
.table04
{
    VERTICAL-ALIGN: middle;
    BACKGROUND-COLOR: #f5f5f5;
    TEXT-ALIGN: center
}
.table05
{
    VERTICAL-ALIGN: bottom;
    TEXT-ALIGN: right
}
.table06
{
    VERTICAL-ALIGN: bottom;
    BACKGROUND-COLOR: #f5f5f5
}
.table07
{
    VERTICAL-ALIGN: top;
    TEXT-ALIGN: left
}
.table08
{
    VERTICAL-ALIGN: top;
    TEXT-ALIGN: center
}
.table09
{
    VERTICAL-ALIGN: middle;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: center
}
.table10
{
    VERTICAL-ALIGN: bottom;
    HEIGHT: 70pt;
    TEXT-ALIGN: center
}
UNKNOWN
{
    FONT-SIZE: 10pt;
    COLOR: #333333;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    TEXT-DECORATION: none
}
UNKNOWN
{
    FONT-SIZE: 10pt;
    COLOR: #ff4700;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    TEXT-DECORATION: none
}
UNKNOWN
{
    FONT-SIZE: 10pt;
    COLOR: #ff4700;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    TEXT-DECORATION: none
}
UNKNOWN
{
    FONT-SIZE: 10pt;
    COLOR: #f7941d;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    TEXT-DECORATION: none
}
A.paging:hover
{
    FONT-SIZE: 10pt;
    COLOR: #f7941d;
    FONT-FAMILY: "µ¸¿ò", "µ¸¿òÃ¼";
    TEXT-DECORATION: none
}
A:link
{
    FONT-SIZE: 10pt;
    COLOR: #666666;
    TEXT-DECORATION: none
}
A:visited
{
    FONT-SIZE: 10pt;
    COLOR: #666666;
    TEXT-DECORATION: none
}
A:hover
{
    FONT-SIZE: 10pt;
    COLOR: #f7941d;
    TEXT-DECORATION: none
}
A:active
{
    FONT-SIZE: 10pt;
    COLOR: #f7941d;
    TEXT-DECORATION: underline
}
A.ttl:link
{
    FONT-SIZE: 10pt;
    COLOR: #c71f00;
    TEXT-DECORATION: none
}
A.ttl:visited
{
    FONT-SIZE: 10pt;
    COLOR: #c71f00;
    TEXT-DECORATION: none
}
A.ttl:hover
{
    FONT-SIZE: 10pt;
    COLOR: black;
    TEXT-DECORATION: none
}
A.ttl:active
{
    FONT-SIZE: 10pt;
    COLOR: red;
    TEXT-DECORATION: underline
}
