.list15 {  font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 10pt; color: #666666; letter-spacing: 0; text-decoration: none; font-weight:bold}
.list14 {  font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 10pt; color: #666666; letter-spacing: 0; text-decoration: none}
.list13 {  font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 10pt; color: #666666; letter-spacing: -2; text-decoration: none; font-weight:bold}
.list12 {  font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 10pt; color: #00A651; letter-spacing: 0; text-decoration: none; font-weight:bold}
.list11 {  font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 10pt; color: #8DC63F; letter-spacing: 0; text-decoration: none; font-weight:bold}
.list10 {  font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 10pt; color: #F26522; letter-spacing: 0; text-decoration: none; font-weight:bold}
.list09 {  font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 10pt; color: #4B4B4B; letter-spacing: -1; text-decoration: none; font-weight:bold}
.list08 {  font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 10pt; color: #4B4B4B; letter-spacing: -1; text-decoration; line-height: 16pt}
.list07_bg {  font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 10pt; color: #575AC9; letter-spacing: 0; text-decoration: none; font-weight:bold; text-align: center; background-color: #DDDDDD}
.list06 {  font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 10pt; color: #87CF67; letter-spacing: -2; text-decoration: none; font-weight:bold}
.list05 {  font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 10pt; color: #666666; letter-spacing: -2; text-decoration: none}
.list04 {  font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 10pt; color: #666666; letter-spacing: 0; text-decoration: none; font-weight:bold; padding-right:20px}
.list03 {  font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 10pt; color: #575AC9; letter-spacing: -2; text-decoration: none}
.list02 {  font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 10pt; color: #575AC9; letter-spacing: -2; text-decoration: none; font-weight:bold}
.list01 {  font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 10pt; color: #666666; letter-spacing: 0; text-decoration: none; padding-right:20px}

.title_01{  font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 10pt; color: #4B4B4B; letter-spacing: -2; text-decoration: none; font-weight:bold}
.title_02{  font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 10pt; color: #4B4B4B; letter-spacing: -1; text-decoration}

.repo05_bg {  font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 9pt; color: #575AC9; letter-spacing: 0; text-decoration: none; text-align: center; background-color: #EDEDED}
.repo05_bg2 {  font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 9pt; color: #575AC9; letter-spacing: 0; text-decoration: none; text-align: center; background-color: #E4E4F8}
.repo04_bg {  font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 9pt; color: #4B4B4B; letter-spacing: 0; text-decoration: none; font-weight:bold; text-align: center; background-color: #CECFF5}
.repo03 {  font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 9pt; color: #4B4B4B; letter-spacing: 0; text-decoration: none}
.repo02 {  font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 9pt; color: #000000; letter-spacing: 0; text-decoration: none; font-weight:bold}
.repo01_bg {  font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 9pt; color: #000000; letter-spacing: 0; text-decoration: none; text-align: center; background-color: #f5f5f5}
.repo01_bg2 {  font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 9pt; color: #000000; letter-spacing: 0; text-decoration: none; text-align: center; background-color: #F1F1FC}
.repo01_bg3 {  font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 9pt; color: #000000; letter-spacing: 0; text-decoration: none; text-align: center; background-color: #CECFF5}

.textbox02 { font-size:9pt; text-align:right; background-color :#F1F1FC; border-style:none}
.textbox01 { font-size:9pt; text-align:right; background-color :#F5F5F5; border-style:none}

.table01 { text-align:right; background-color:#F5F5F5}
.table02 { text-align:right; background-color:#F1F1FC}