# if you want to use ';' or '#' character, then use '\;' or '\#'

[common]
basedir = /data/docs/mycyworld2
tempdir = /skcomms/tmp
kiwidir = /skcomms/frw/kiwi
debug   = false
islive  = true

[Podo]
basedir        = {$common.basedir}
tempdir        = {$common.tempdir}
debug          = {$common.debug}
charset        = utf-8
undefined      = default					# default | (debug) | error
incpath.manual = true						# include_path 를 수동으로 설정할지 여부
											# false 이면 Podo_System_Autoloader.dirs 를 include_path 로 합니다.
incpath.dirs[] = {$common.kiwidir}/pear		# include_path 를 수동으로 설정할 경우
incpath.dirs[] = {$common.basedir}/class	# include_path 로 설정할 디렉토리들

[Podo_Plugin]
use.exceptionHandler = true					# Podo 기본 Exception 핸들러를 사용할지 여부

[Podo_System_Autoloader]
dirs[] = {$common.kiwidir}/podo/class		# Autoloader 시스템에서 클래스를 찾을 때 검색할 디렉토리를 설정
dirs[] = {$common.kiwidir}/pear
dirs[] = {$common.kiwidir}/pdo-dbgate
dirs[] = {$common.basedir}/class
dirs[] = {$common.basedir}/controller
dirs[] = {$common.basedir}/docroot

[Podo_Template]
compile.checkfile[] = {$common.basedir}/config/common.cfg		# 이 파일이 변경되면 템플릿을 재컴파일 함

basedir.tpl         = {$common.basedir}/template				# 템플릿 파일이 위치하는 디렉토리
basedir.class       = {$common.tempdir}/Podo/Template			# 컴파일된 결과가 저장되는 디렉토리

customtag[]         = {$common.basedir}/config/custom_tag.xml   # 커스텀 태그가 설정된 xml 파일
;customtag[]         = {$common.basedir}/config/default_tag.xml

generate.postfix    = Template									# 클래스명에 자동으로 붙는 postfix
generate.ext        = .php										# 생성되는 클래스의 확장자

[Podo_Controller_Cookie]
# 쿠키별로 사용할 기본 설정
default.expire       = 0
default.path         = /
default.domain       = ''
default.encoding.in  = {$Podo.charset}			# PHP 에서 사용할 인코딩
default.encoding.out = {$Podo.charset}			# 쿠키가 사용하고 있는 인코딩
default.crypt        = false					# true 로 설정되어있으면 자동으로 암호화 처리함
default.crypt.key    = daramg					# 암호화 할 때 사용할 암호 키

# sample 이라는 쿠키에 대한 설정 예제
# fill cookie name in 'sample'
cookie.sample.expire       = 0					# default '0'
cookie.sample.path         = /					# default '/'
cookie.sample.domain       = cyworld.com		# default ''
cookie.sample.encoding.in  = {$Podo.charset}	# default 'utf-8'
cookie.sample.encoding.out = {$Podo.charset}	# default 'utf-8'
cookie.sample.crypt        = false				# true | (false)
cookie.sample.crypt.key    = crypted			# default ''

[Podo_System_Logger]
enable = false											# Logger 를 사용할지 여부

# 카테고리별 Logger 에 대한 기본 설정
default.enable          = false							# 해당 Logger 에 대한 사용 여부
default.file            = {$common.tempdir}/debug.log   # 기록할 파일 위치
default.file.maxsize    = 10485760						# 파일 최대 사이즈, 이 크기를 초과하면 자동으로 빈 파일로 재생성됨
default.flush           = false							# 함수 호출 즉시 파일에 기록할지 여부, false 이면 페이지 종료시 한 번에 기록됨
default.level           = 9								# 0-9, 로그 레벨, 높을수록 더 많은 로그를 남김
default.print.execinfo  = false							# 페이지 정보를 남길지 여부
default.print.callstack = false							# 로그를 찍은 부분의 callstack 을 남길지 여부

logger.debug.enable          = {$common.debug}
logger.debug.file            = {$common.tempdir}/debug.log
logger.debug.flush           = true
logger.debug.level           = 9
logger.debug.print.execinfo  = true
logger.debug.print.callstack = false

[Podo_System_ErrorHandler]
enable       = true
trace.enable = true
show.level   = NONE 	# NONE | ERROR | WARNING | (NOTICE) | STRICT | ALL
logger.level = WARNING	# NONE | ERROR | (WARNING) | NOTICE | STRICT | ALL
logger.name  = debug	# you must set logger in [Podo_System_Logger]
exit.level   = ERROR	# NONE | (ERROR) | WARNING | NOTICE | STRICT | ALL
